// -----------------------------------------------------------------------------
// Print styles
//
// Src: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css
// Inlined to avoid the additional HTTP request:
// https://www.phpied.com/delay-loading-your-print-css/
// -----------------------------------------------------------------------------

@if $print-styles {
    @media print {
        *,
        *::before,
        *::after {
            color: #000000 !important; // Black prints faster
            text-shadow: none !important;
            background: transparent !important;
            box-shadow: none !important;
        }

        a {
            &:not(.btn) {
                text-decoration: underline !important;
            }

            &[href]::after {
                content: " (" attr(href) ")" !important;
            }

            // Don't show links that are fragment identifiers,
            // or use the `javascript:` pseudo protocol
            &[href^="#"]::after,
            &[href^="javascript:"]::after {
                content: "" !important;
            }
        }

        abbr[title]::after {
            content: " (" attr(title) ")" !important;
        }

        pre {
            white-space: pre-wrap !important;
        }

        pre,
        blockquote {
            border: 1px solid #ADB5BD !important;
            page-break-inside: avoid !important;
        }

        // Printing Tables:
        // http://css-discuss.incutio.com/wiki/Printing_Tables
        thead {
            display: table-header-group !important;
        }

        tr,
        img {
            page-break-inside: avoid !important;
        }

        p,
        h2,
        h3 {
            orphans: 3 !important;
            widows: 3 !important;
        }

        h2,
        h3 {
            page-break-after: avoid !important;
        }

        // Specify a size and min-width to make printing closer across browsers.
        // We don't set margin here because it breaks `size` in Chrome. We also
        // don't use `!important` on `size` as it breaks in Chrome.
        @page {
            size: a4;
        }

        body,
        .container {
            min-width: 992px !important;
        }

        // Utilities for toggling `display` in print
        .d-print-none {
            display: none !important;
        }

        .d-print-inline {
            display: inline !important;
        }

        .d-print-inline-block {
            display: inline-block !important;
        }

        .d-print-block {
            display: block !important;
        }

        .d-print-table {
            display: table !important;
        }

        .d-print-table-row {
            display: table-row !important;
        }

        .d-print-table-cell {
            display: table-cell !important;
        }

        .d-print-flex {
            display: flex !important;
        }

        .d-print-inline-flex {
            display: inline-flex !important;
        }
    }
}
