// -----------------------------------------------------------------------------
// Typography
//
// - Basic Typography
// - Custom Typography
// -----------------------------------------------------------------------------

// ------------------------------------------------------------ Basic Typography
// Headings
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    @include set-in-rem(margin, 0 0 24);
    font-family: $heading-font;
    line-height: $heading-line-height;
    font-weight: normal;
}

h1, .h1 {
    font-size: $h1-size / $font-size + rem;
}

h2, .h2 {
    font-size: $h2-size / $font-size + rem;
}

h3, .h3 {
    font-size: $h3-size / $font-size + rem;
}

h4, .h4 {
    font-size: $h4-size / $font-size + rem;
}

h5, .h5 {
    font-size: $h5-size / $font-size + rem;
}

h6, .h6 {
    font-size: $h6-size / $font-size + rem;
}

// Horizontal line
hr {
    box-sizing: content-box;
    width: 100%;
    height: 0;
    @include set-in-rem(margin, 24 0);
    overflow: visible;
    border: none;
    border-top: 1px solid $border;
}

// Paragraph
p {
    max-width: 100%;
    @include set-in-rem(margin, 0 0 24);
}

// Links
a {
    background-color: transparent;
    outline: none;
    color: inherit;
    text-decoration: none;

    &.link {
        color: $primary;

        &:hover {
            opacity: .75;
        }
    }
}

// Code
pre,
code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

code {
    word-break: break-word;
    opacity: .75;

    a > & {
        color: inherit;
    }
}

kbd {
    padding: .2rem .4rem;
    background-color: $text;
    border-radius: 3px;
    color: $white;
    font-size: 87.5%;

    kbd {
        padding: 0;
        font-family: $base-font-bold;
        font-size: 100%;
    }
}

pre {
    display: block;
    @include set-in-rem(margin, 0 0 24);
    overflow-y: auto;

    code {
        word-break: normal;
    }
}

// Lists
ol,
ul,
dl {
    @include set-in-rem(margin, 0 0 24);

    ol,
    ul,
    dl {
        margin: 0;
    }
}

ol,
ul {
    padding: 0 0 0 1.125em;
}

dt {
    font-family: $base-font-bold;
    font-weight: normal;
}

dd {
    @include set-in-rem(margin, 0 0 8);
}

// Table
caption {
    @include set-in-rem(padding, 10 0);
    text-align: left;
    caption-side: bottom;
}

th {
    text-align: inherit;
}

// Semantic elements
abbr[title],
abbr[data-original-title] {
    border-bottom: none;
    text-decoration: underline dotted;
    text-decoration-skip-ink: none;
    cursor: help;
}

b,
strong {
    font-family: $base-font-bold;
    font-weight: normal;
}

small,
.small {
    font-size: 80%;
}

mark,
.mark {
    padding: .25em;
    background-color: $primary;
}

sub,
sup {
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sub {
    bottom: -0.25em;
}

sup {
    top: -0.5em;
}

dfn {
    font-style: italic;
}

// Address
address {
    @include set-in-rem(margin, 0 0 24);
    font-style: normal;
    line-height: inherit;
}

// Blockquote
blockquote,
.blockquote {
    max-width: 100%;
    @include set-in-rem(margin, 0 0 24);

    &__footer {
        display: block;
        font-size: 80%;
        opacity: .75;

        &::before {
            content: "\2014\00A0";
        }
    }
}

// ----------------------------------------------------------- Custom Typography
